<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <link href="path/to/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title><%= resultProje[0].projeAd %></title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-rqjGgQx1BPeRvVZL8i7pO8GgoL8E5L4s4+1Ml5hNoUE5QpCqziBcu3TXRlSzqBfJ"
    crossorigin="anonymous"></script>


  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">



  <!-- Bootstrap core CSS -->
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>



    .navBar{
      height: 200px;
    }

    .link-container {
      display: flex;
      justify-content: space-around;
      margin-top: 3.5%;
    }

    .link-container a {
      position: relative;
      text-decoration: none;
      color: #333;
      /* Altı çizgi efekti için 5 saniyelik geçiş süresi */
    }

    .link-container a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background-color: #333;
      /* Alt çizgi rengini istediğiniz renkle değiştirebilirsiniz */
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    .link-container a:hover::after {
      transform: scaleX(1);
    }



    .link-container a+a {
      margin-left: -50%;
    }

    .kategori{
      margin-top: 70px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around;
    }

    .kategori a{
      position: relative;
      text-decoration: none;
      color: #333;
      margin: 0 100px;
    }
    .kategori a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background-color: #333;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    .kategori a:hover::after {
      transform: scaleX(1);
    }
    .kategori a+a {
      margin-left: -50%;
    }

    #carouselExampleCaptions:hover .carousel-inner .carousel-item img {
    filter: blur(2px); 
    transition: filter 0.3s ease;
    }
    #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5,
    #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p {
        display: none; 
        transition: filter 1s ease;
    }

    #carouselExampleCaptions:hover .carousel-inner .carousel-item .carousel-caption h5,
    #carouselExampleCaptions:hover .carousel-inner .carousel-item .carousel-caption p {
        display: block;      }

    
    .nav-link {
      position: relative;
      text-decoration: none;
      color: #6c757d;
      display: inline-block;
      margin-bottom: 0px;
    }

    .nav-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 1.5px;
      background-color: #6c757d;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    .nav-link:hover::after {
      transform: scaleX(1);
    }

    .main-container{
        display: flex;
        min-height: calc(100vh - 370px);
    }

    .EskizCizim{
        background-color: #333;
        width: 550px;
        height: 1000px;
        background-image: url('/image/<%= resultProje[0].resim1 %>');
        background-size: auto;
        background-position: left center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }

    .KunyeBilgileri{

    color: black;
    width: 1330px;
    height: 1000px;
    margin-left: 1%;
    position: relative;
    }
    .KunyeBilgileri::before {
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/<%= resultProje[0].resim1 %>');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #333;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: blue;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

</style>
</head>
<body>

  <div class="navBar">
    <div style="padding-top: 30px;">
      <a href="/" style="position: relative;text-decoration: none;color: #333;"><h1 style="display: flex;align-items: center;justify-content: center;">ECOLOUD</h1></a>
    </div>
    <div class="link-container">
      <a href="/Projelerimiz" style="align-items: center;">Projelerimiz</a>
      <a href="/Bitkilerimiz" style="align-items: center;">Bitkilerimiz</a>
      <a href="/KentselTasarimlar" style="align-items: center;">Kentsel Tasarımlarımız</a>
      <a href="/WebGunlugu" style="align-items: center;">Web Günlüğü</a>
      <a href="/Portfoy" style="align-items: center;">Portföy</a>
      <a href="/İletisim" style="align-items: center;">İletişim</a>
    </div>
    <div>
      <hr style="width: 60%; margin-left: 20%;">
    </div>
  </div>
  
  <div class="main-container">
    <div class="EskizCizim">
        <!--
          buraya img eklenince sv patlıyor array değilde json olarak göndermek lazım galiba
        -->
    </div>

    <div class="KunyeBilgileri">
        <div><h1 style="margin-left: 20%;margin-top: 5%;"><%= resultProje[0].projeAd %></h1></div>
        <h5 style="margin-left: 16%; margin-top:7%;">Proje Yeri: <%= resultProje[0].projeYeri %></h5>
        <h5 style="margin-left: 16%; margin-top:1.5%;">Proje Tipi: <%= resultProje[0].projeTipi %></h5>
        <h5 style="margin-left: 16%; margin-top:1.5%;">İşin Sahibi: <%= resultProje[0].isSahibi %></h5>
        <h5 style="margin-left: 16%; margin-top:1.5%;">İş Veren: <%= resultProje[0].isVeren %></h5>
        <h5 id="dateBaslangic" style="margin-left: 16%; margin-top:1.5%;"></h5>
        <h5 style="margin-left: 16%; margin-top:1.5%;">Arsa alanı: -<%=resultProje[0].arsaAlani  %>m²</h5>
        <h6 style="margin-left: 16%; margin-top:1.5%;"><%= resultProje[0].projeAciklama %>asdas</h6>
    </div>
  </div>


  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <%
    const keys = Object.keys(resultResim);
    for (let i = 2; i < keys.length; i++) {
      const key = keys[i];
  %>
      <div class="mySlides fade">
        <img src="/image/<%= resultResim[key] %>" style="width:100%">
      </div>
  <%
    }
  %>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <% for( let index = 2; index < resultResim.length; index++ ) { %>
      
        <span class="dot" onclick="currentSlide('<%=index %>')"></span>
    <% } %>
  </div>
  
  
  
  

  <div class="container" style="background-color: #ffffff; margin-bottom: 0px;">
    <footer class="py-3 my-4" style="background-color: #ffffff;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item" style="width: 200px;"><a href="#" class="nav-link px-2 text-muted">Ana Sayfa</a></li>
        <li class="nav-item" style="width: 200px;"><a href="/Projelerimiz" class="nav-link px-2 text-muted">Projelerim</a></li>
        <li class="nav-item" style="width: 200px;"><a href="/Bitkilerimiz" class="nav-link px-2 text-muted">Bitkilerimiz</a></li>
        <li class="nav-item" style="width: 200px;"><a href="/KentselTasarimlar" class="nav-link px-2 text-muted">Kentsel
            Tasarımlarımız</a></li>
        <li class="nav-item" style="width: 200px;"><a href="/WebGunlugu" class="nav-link px-2 text-muted">Web Günlüğü</a></li>
        <li class="nav-item" style="width: 200px;"><a href="/Portfoy" class="nav-link px-2 text-muted">Portföy</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
      <div
        style="width: 30%;height: 60%;display: flex;flex-wrap: wrap;margin-left:70% ;margin-top: -3.75%;align-items: center;justify-content:  space-around;">
        <a href="<%= resultiletisim[0].instagram %>" target="_blank">
          <h3><i class="bi bi-instagram" style="color:rgba(88,92,94,255);"></i></h3>
        </a>
        <a href="<%= resultiletisim[0].facebook %>" target="_blank">
          <h3><i class="bi bi-facebook" style="color:rgba(88,92,94,255);"></i></h3>
        </a>
        <a href="<%= resultiletisim[0].twitter %>" target="_blank">
          <h3><i class="bi bi-twitter-x" style="color:rgba(88,92,94,255);"></i></h3>
        </a>
        <a href="<%= resultiletisim[0].mail %>" target="_blank">
          <h3><i class="bi bi-envelope-at" style="color:rgba(88,92,94,255);"></i></h3>
        </a>
        <a href="<%= resultiletisim[0].linkedin %>" target="_blank">
          <h3><i class="bi bi-linkedin" style="color:rgba(88,92,94,255);"></i></h3>
        </a>
      </div>

    </footer>
  </div>

  <script>

let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
    function getDate(dateBaslangic,dateBitidenemes){
        const serverDate = new Date(dateBaslangic);
        day = serverDate.getDate();
        month = serverDate.getMonth() + 1;
        year = serverDate.getFullYear();
        const serverDate2 = new Date(dateBitis)
        day2 = serverDate2.getDate();
        month2 = serverDate2.getMonth() + 1;
        year2 = serverDate2.getFullYear();
        
        document.getElementById("dateBaslangic").innerHTML = "Proje Süresi: " + year + "/" +month +"/" + day +" - " + year2 +"/"+month2 +"/"+day2;
    }
    getDate('<%=resultProje[0].baslangicTarih %>','<%=resultProje[0].birisTarih %>')

  </script>
</body>
</html>